Support empty templates

Currently the `UriTemplate` constructor throws an `ArgumentException` if the template is the empty string. However, this template is valid according to RFC 6570 §2.
